
body	{
			background: #009bc9;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 12px;
			color: white;
}
h2			{font-size: 14px;}


#container	{
			max-width: 310px;
			min-width: 250px;
			margin: auto;
			height: auto;
}
#top		{
			background-image:url(graphics/header.png);
			background-repeat:no-repeat;
			width: 100%;
			height: 189px;
}
#frame		{max-width: 310px;
			min-width: 200px;
			height: auto;
			margin: auto;
			background: black;
			
}
#frame table tr td {font-size: 12px;
					color: white;
					text-align:left;
					padding-left: 15px;
					padding-right: 10px;
					
					
}
tr 			{margin-bottom: 3px;}
td			{border-bottom:#09C 4px solid; 
			 background-color: black;
			color: white;
			padding: 5px;
			  }
#tdart		{text-align:right;
			font-size: 16px;
			padding-right: 25px;
			
}
table .head {height: 25px;
			font-size: 16px;
			text-align: left;


}
a			{color: white;
			text-decoration: none;}
a:hover		{color: white;
			text-decoration: none;}
a:visited	{color: white;
			text-decoration: none;}

#foot		{background-color: black;
			color: white;
			width: 100%;
			height: 50px;
}
#rowlist	{width: 100%;
			Height: 40px;
			font-size:16px;
			background-color: black;
			border-bottom: 2px;
}

			
